<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hypernym.smartsurveillance"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.CameraXFaceDetection"
        android:screenOrientation="portrait">

        <activity android:name=".view.FrameActivity"
            android:keepScreenOn="true"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.PauseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.persongroupmanagement.SelectImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.persongroupmanagement.PersonGroupListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.persongroupmanagement.PersonGroupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.persongroupmanagement.PersonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.persongroupmanagement.AddFaceToPersonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>